body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 96px;
    color: darkgreen;
}

.button-board {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
    background-color: antiquewhite;
}

button:hover {
    background-color: aquamarine;
}

.cell:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px black;
}

.occupied:active {
    box-shadow: 0px 0px 0px 5px red;
    background-color: lightcoral;
}