body {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: "Valera Round", sans-serif;
}

.body-wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 4rem;
}

#current-turn {
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

.cell {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 96px;
    color: darkgreen;
}

.button-board {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
    background-color: antiquewhite;    
    font-family: inherit;
    font-size: 1em;
}

.square:hover {
    background-color: aquamarine;
}

.sqaure:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px black;
}

.occupied:active {
    box-shadow: 0px 0px 0px 5px red;
    background-color: lightcoral;
}